<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-home">
    <!-- Section p-home1 -->
    <section class="p-home1">
        <div class="c-list c-list--col2">
            <div class="c-list__card">
                <div class="c-list__img">
                    <img src="assets/img/bg_bake1.png" alt="bake">
                </div>
                <div class="c-list__inner">
                    <div class="c-list__text">
                        <h4>MOCO’S BAKED SWEETS</h4>
                        <h1>焼菓子ギフト<br/>全国発送承ります</h1>
                        <div class="c-btn">
                            <a href="#">詳しくみる</a>
                        </div>
                        <img class="pc-only" src="assets/img/label.png" alt="">
                    </div>
                </div>
            </div>
            <div class="c-list__card">
                <div class="c-list__img">
                    <img src="assets/img/sub_content.png" alt="bake">
                </div>
                <div class="c-list__inner">
                    <div class="c-list__text">
                        <h4>MOCO’S BAKED SWEETS</h4>
                        <h1>焼菓子ギフト<br/>全国発送承ります</h1>
                        <div class="c-btn">
                            <a href="#">詳しくみる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section p-home1 -->
    
    <!-- Section p-home2 -->
    <section class="p-home2">
        <div class="l-container">
            <div class="c-title">
                <h1 class="sp-only"><img src="assets/img/text_reason.png" alt=""></h1>
               <h1 class="pc-only"><img src="assets/img/title_reason.png" alt=""></h1>
            </div>
            <div class="c-info">
                <p>
                    おやつのアトリエmocoは、卵、乳製品、白砂糖をつかわないお菓子（マクロビオティックスイーツ、ビーガンスイーツ）のお店です。一部のお菓子は小麦粉も不使用（グルテンフリー）です。<br/>
                    できるだけ有機栽培や無農薬、国産、地元産の材料を選んで使用し、アレルギーや授乳中の方にも安心して召し上がっていただけるよう、すべてのお菓子の原材料を明示しています。
                </p>
                <div class="c-btn c-btn--momentum">
                    <a href="">詳しくみる</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End section p-home2 -->
    
    <!-- Section p-home3 -->
    <section class="p-home3">
        <div class="l-container">
            <h1><img src="assets/img/title_list_product.png" alt="News"></h1>
            <div class="c-title__product">
                <h3 class="pc-only">お知らせ</h3>
                <h3 class="pc-only">お品書き</h3>
                <h3 class="pc-only">イベント情報</h3>
            </div>
            <h3 class="sp-only c-text--center">お知らせ</h3>
            <div class="c-list">
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box1-img1.png" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box2-img3.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box3-img1.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <h3 class="sp-only c-text--center">お品書き</h3>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box1-img2.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box2-img2.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box3-img2.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <h3 class="sp-only c-text--center">イベント情報</h3>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box1-img3.png" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/box2_img_2.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-list__card c-list--col3">
                    <div class="c-list__img">
                        <img src="assets/img/box3_img3.jpg" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>2018.12.01</h5>
                        <p>2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
            </div>
            <div class="c-btn c-btn--momentum c-btn--center">
                <a href="#">詳しくみる</a>
            </div>
        </div>
    </section>
    <!-- End Section p-home3 -->
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>
