<%- include('inc/_header_sweet'); %>
<!--▼ Content area ▼-->
<main class="p-sweets">
    <!-- Section p-sweet1 -->
    <section class="p-sweets1">
        <div class="l-container">
            <div class="c-sweets__title">
                <img class="pc-only" src="assets/img/sweets-img1.png" alt="">
                <img class="sp-only c-sweet1__titleSp" src="assets/img/sp-img3.png" alt="">
            </div>
            <div class="c-list1 c-list1--col2">
                <div class="c-list1__card">
                    <div class="c-list1__inner">
                        <div class="c-list1__text">
                            <h4>工房販売は、毎週金曜日。</h4>
                            <p>「どれでも好きなのを選んでいいんだよ」<br/>
                                卵や乳のアレルギーをお持ちのお子様に嬉しそうに語りかけるご家族を店頭で見かけるたび、安心・安全なお菓子をつくる責任を感じます。<br/>
                                卵、乳、白砂糖をつかわないお菓子は、市販の材料が使えないことが多いため、一から手作りする必要があり、1回の販売のための仕込みに4日ほどかかります。<br/>
                                そのため、ご不便をおかけしますが、定期的な販売は金曜日のみとさせて頂いております。<br/>
                                毎週ていねいに手作りするクッキーやマフィン、生菓子には、有機栽培や無農薬、減農薬の季節のフルーツや木の実をたっぷりと使用しています。<br/>
                                旬の果物のおいしい時期はとても短くて、中には一週間で終わってしまうものも。<br/>
                                天候によっては、入荷が次の週になったり、入って来なかったりすることもあるので、mocoのおやつは毎週とっても気まぐれです。<br/>
                                工房販売には、美濃加茂市周辺市町村をはじめ、岐阜市や名古屋市など遠方からも多くのお客様がいらっしゃるため、確実なお受け取りにはお取り置きをおすすめしております。<br/>
                                お品書きは、販売前日の夜、ブログやLINE、Facebookでお知らせしています。ぜひご覧ください。</p>
                        </div>
                        <div class="c-btn c-btn--momentum">
                            <a href="#">お品書きをみる</a>
                        </div>
                    </div>
                    <div class="c-list1__img">
                        <img src="assets/img/pic_sweets01.png" alt="">
                    </div>
                </div>
                <div class="line"></div>
                <div class="c-list1__card c-list1__reverse">
                    <div class="c-list1__img">
                        <img src="assets/img/img_happy.jpg" alt="">
                    </div>
                    <div class="c-list1__inner c-list1--leftMargin30 c-list1--rightMargin30">
                        <div class="c-list1__text">
                            <h4>バースデーや記念日のケーキ、<br/>
                                季節のフルーツをたっぷりのせたホールケーキのご注文も承ります。</h4>
                            <p>アレルギーでもお誕生日はスポンジのホールケーキでお祝いしたい、mocoならそんな願いをかなえることができます。<br/>
                                ケーキの種類、トッピングするフルーツ、メッセージプレートなど、お客様と打ち合わせをしながらご要望に合わせてお作りしますので、mocoのホールケーキはそれぞれがオンリーワン。<br/>
                                大切な日を迎えるお客様のお顔を思い浮かべながら、一台一台心をこめてお作りしたい、との想いから、オーダーケーキをご相談のお客さまには、できるだけ一度はご来店頂きたく思っています。<br/>
                                フルーツなど材料の仕入れの都合上、お渡しを希望される2週前の水曜日までのご相談をいただけますよう、何卒よろしくお願いいたします。<br/>
                                ご注文は、店主がお渡し可能な日であれば金曜日以外でも承れます。ご注文を受けてすぐ材料の発注をいたしますので、ご注文後の日程変更やキャンセルはお受けできかねます。よくご検討下さい。<br/>
                                お豆腐や豆乳を材料にして作る、卵乳不使用のmocoのスポンジやクリームは、一般的なケーキと風合いが少し異なります。ホールケーキをご検討の際は、カットケーキを一度お試しいただくのがおすすめです。</p>
                        </div>
                        <div class="c-btn c-btn--momentum">
                            <a href="#">詳しくみる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section p-sweet1 -->
    <!-- Section p-sweets -->
    <section class="p-sweets2">
        <div class="l-container">
            <div class="c-sweets__title">
                <p class="pc-only">mocoの焼菓子<br/>BAKED SWEETS</p>
                <img class="sp-only" src="assets/img/sweets-img2_1.png" alt="">
            </div>
            <div class="c-list c-list--col">
                <div class="c-list__card">
                    <div class="c-list1__img">
                        <img src="assets/img/baked_slide_01.jpg" alt="">
                    </div>
                    <div class="c-list__inner">
                        <div class="c-list__text">
                            <h4>卵・乳・白砂糖不使用のmocoの焼菓子は、ギフトにも。</h4>
                            <p>授乳中はなるべく乳製品をとらないようにしたい、そんな希望をお持ちのお母さま方にもmocoのお菓子はとても喜ばれており、ご出産のお祝いにもぴったりです。<br/>
                                ご予算に合わせて、お好みのマフィンやコンフィチュール、クッキーをお選びいただき、お箱に入れて贈答用にラッピングさせていただくことができます。<br/>
                                工房販売のお菓子の詰め合わせは当日店頭でもお請けできますが、混み合った際はお待たせしてしまうと思いますので、お時間に余裕を持ってお越しいただくか、前もってご連絡いただけますと大変ありがたく思います。<br/>
                                また、ギフト以外でも、幼稚園や保育園のイベントでの記念品としても大変人気です。数量の多いご注文はなるべく早めにご相談くださいませ。<br/>
                                クール便送料のご負担をいただきますが、全国への発送も承っております。詳細につきましては個別に対応させていただきますので、お問い合わせフォームよりご連絡をお待ちしております。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End p-sweets2 -->

    <!-- Section p-sweet3 -->
    <section class="p-sweets3">
        <div class="l-container">
            <div class="c-sweets__title">
                <img src="assets/img/sweets-img1.png" alt="">
            </div>
            <div class="c-list">
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/voice01.png" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>30代 女性 T様</h5>
                        <p>体調を崩した事がきっかけで、豆腐・豆乳好きになった私。そんな時たまたま見つけたmocoのお店。豆腐や豆乳を使ったスイーツが多く、何より甘さが控えめで素材の本当の味が生かされてる。思わず「美味しい☆」と笑顔がほころびました。<br/>
                            苦手だったクッキーもmocoのは大丈夫！
                            ちなみに母はマフィン（特にバナナ）が大好きです。<br/>
                            いつも美味しいスイーツをありがとうございます！</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/voice02.png" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>30代 女性 T様</h5>
                        <p>授乳中は乳製品を控えているのでケーキ類を食べられず…。でも、たまには食べたい！と思っていた時に、卵・乳製品を使わないmocoさんのお菓子に出会いました。<br/>
                            「本当に乳製品使ってないの？」ってくらい普通のケーキと変わらない満足感。優しい甘さでほっこりした気分になれます。<br/>
                            ケーキの種類も季節に合わせて変わっていくので毎週のお品書きも楽しみ。<br/>
                            マフィンは冷蔵・冷凍保存で日持ちできるのも、とっても嬉しいです。</p>
                    </div>
                </div>
                <div class="c-list__card">
                    <div class="c-list__img">
                        <img src="assets/img/voice03.png" alt="">
                    </div>
                    <div class="c-list__info">
                        <h5>30代 女性 T様</h5>
                        <p>材料の生産者を提示し、減農薬や無農薬などのフルーツを使ってくださるので、子どもにも安心して食べさせることができます。誕生日ケーキなど、オーダーメイドで作ってくれて、その時々の旬のフルーツから、自分の好きなフルーツを使ってケーキを作ってくれます。<br/>
                            娘にアレルギーがあるため外食できるところが限られるのですが、店主さんがお店なども教えてくれて、とても親切に対応してくださいます。</p>
                    </div>
                </div>
               
            </div>
            <div class="c-btn c-btn--momentum c-btn--center">
                <a href="#">詳しくみる</a>
            </div>
        </div>
    </section>
    <!-- End section p-sweet3 -->
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>