/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-clearfix:after{
    clear: both;
    display: block;
    content: "";
}