//baseWidth
$baseWidth:1000px;
$sliderWidth:1880px;
$sliderHeight:960px;
$layoutMain:1920px;

$fullImage: 100%;

$mainFonts: Yu Mincho, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

// color common
$momentum: #d49677;
$strongMomentum: #642200;