	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="c-footer__img">
			<img src="assets/img/footer.jpg" alt="">
		</div>
		<div class="l-container">
			<div class="c-footer__logo">
				<img src="../assets/img/logo-footer.png" alt="">
			</div>
			<div class="c-footer__info">
				<p>卵・乳製品・白砂糖をつかわない おやつのアトリエmoco<br/>〒505-0038 岐阜県美濃加茂市中部台2-14-15</br/>OPEN：毎週金曜 11:00～18:30（売切れ次第閉店となります）</p>
			</div>
			<nav class="c-icon__social">
				<ul>
					<li>
						<a href="#"><img src="../assets/img/line.png" alt="icon"></a>
					</li>
					<li>
						<a href="#"><img src="../assets/img/face.png" alt="icon"></a>
					</li>
					<li>
						<a href="#"><img src="../assets/img/insta.png" alt="icon"></a>
					</li>
				</ul>
			</div>
			<div class="c-footer__copy">
				<p >© L'ATELIER DU GOÛTER MOCO. ALL RIGHTS RESERVED.</p>
			</div>
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="assets/js/main.js"></script>
</body>
</html>