<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="c-sidebar">
			<img src="assets/img/slider1.png" alt="slider">
		</div>
		<div class="c-sidebar__inner">
			<img class="pc-only" src="assets/img/icon_in_slider.png" alt="logo">
			<h3>誰もが安心して食べられるスイーツを。</h3>
			<h4>SWEETS THAT EVERYONE CAN EAT SAFELY</h4>
			<div class="sp-only btn--menu">
				<!-- <img src="assets/img/icon-close.png" alt="" class="_open"> -->
				<img src="assets/img/icon_menu.png" alt="" class="_close">
			</div>
			<nav class="c-navi pc-only">
				<ul>
					<li class="c-navi--item"><a href="index.html"></a>home</li>
					<li class="c-navi--item"></a>about</li>
					<li class="c-navi--item"></a>sweets</li>
					<li class="c-navi--item"></a>contact</li>
					<li class="c-navi--item"></a>blog</li>
					<li>
						<ul>
							<li class="c-navi__social"><a href=""><img src="assets/img/face.png" alt="facebook"></a></li>
							<li class="c-navi__social"><a href=""><img src="assets/img/line.png" alt="line"></a></li>
							<li class="c-navi__social"><a href=""><img src="assets/img/insta.png" alt="instagram"></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--▲ Header ▲-->